{% extends 'base.html.twig' %}

{% block title %} Hello {{controller_name}}{% endblock %}

{% block body %}

<div class="container mt-5">
    <form action="show" method="post" enctype="multipart/form-data">
        <div class="row">
            <div class="col-md-6">

                <!-- Input -->
                <h6 class="fw-normal"> {{questions[0]}} *</h6>
                <div class="input-group mb-3 col-12 col-md-3">
                <input required type="text" class=" form-control col-md-3" name="fname" class="form-control"
                        placeholder="Имя">
                    <input required type="text" class=" form-control col-md-3" name="sname" class="form-control"
                        placeholder="Фамилия">
                </div>
                

                <!-- Radio -->
                <div class="mb-3 col-12 col-md-auto">
                    <h6 class="fw-normal">{{questions[1]}} *</h6>
                    <input class="form-check-input" required type="radio" id="age1" value="18-24" name="age">
                    <label for="age1">18-24</label><br>
                    <input class="form-check-input " type="radio" id="age2" value="25-35" name="age">
                    <label for="age2">25-35</label><br>
                    <input class="form-check-input " type="radio" id="age3" value="36+" name="age">
                    <label for="age3">36+</label>
                </div>

                <!-- Checkbox -->
                <div class="mb-3 col-12 col-md-auto">
                    <h6 class="fw-normal"> {{questions[2]}} </h6>
                    <div class="mb-2 col-md-auto">
                        <div class="form-check form-switch">
                            <input type="checkbox" class="form-check-input " value="Python" name="checklist[]"id="proglang1">
                            <label for="proglang1"> Python </label><br>
                            <input type="checkbox" class="form-check-input " value="Java" name="checklist[]"id="proglang2">
                            <label for="proglang2"> Java</label><br>
                            <input type="checkbox" class="form-check-input " value="C#" name="checklist[]" id="proglang3">
                            <label for="proglang3"> C#</label>
                        </div>
                    </div>
                </div>

                <!-- Select -->
                <div class="mb-3 col-12 col-md-auto">
                    <h6 class="fw-normal"> {{questions[3]}} </h6>
                    <select class="form-select" required name="fav_lang" id="fav_lang">
                        <option value="Python">Python</option>
                        <option value="Java">Java</option>
                        <option value="C#">C#</option>
                    </select>
                </div>
            </div>

            
            <div class="col-md-6">

                <!-- Range -->
                <div class="mb-2 col-12 col-md-auto">
                    <h6 class="fw-normal" > {{questions[4]}} </h6>
                        <div class="mx-1 d-flex justify-content-between">
                          <span>1</span>
                          <span>2</span>
                          <span>3</span>
                          <span>4</span>
                          <span>5</span>
                        </div>
                    <input type="range" class="form-range" min="1" max="5" name="grade" >
                </div>

                <!-- Textarea -->
                <div class="mb-3 col-12 col-md-auto ">
                    <h6 class="fw-normal"> {{questions[5]}}</h6>
                    <textarea class="form-control " name="opinion" id="ta1" rows="4" cols="1"></textarea>
                </div>

                <!-- Добавьте файл -->
                <div class="mb-3 col-12 col-md-auto">
                    <h6 class="fw-normal">{{questions[6]}} </h6>
                    <input class="form-control " id="inputfile" type="file" name="uploadfile" required
                        accept="image/*, .docx,.pdf">
                        <label for="inputfile" class="fw-light fs-7 fst-italic">
                            <small>Выберите документ или pdf файл вышей любимой книги по программированию, или картинку с ее обложкой </small>
                        </label>
                </div>
            </div>
        </div>
    
       
        <div class=" d-flex flex-row justify-content-md-end justify-content-center">
         <input class="btn btn-info text-white col-8 col-md-2 mb-3" type="submit">
        </div>

</div>


{% endblock %}
